<a href="https://colab.research.google.com/github/akhilkarthik/Python-basics/blob/master/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

starting

In [ ]:
#shit + enter to run
("hello world")

hello world

In [ ]:
n=5 # assign the value of 5 in the variable n

In [ ]:
print(n)

5

In [ ]:
type(n)

int

In [ ]:
#variables to stings
n="python"

In [ ]:
type(n) # checking the type of function eg: str,int...

str

condition statement

In [ ]:
n =10
if n >7:
  print("number is greater than 7")
  print("i am in first block")

elif n <7:
    print("number is less than 7")
else:
    print ("the number is 7")

number is greater than 7
i am in first block

while loop

In [ ]:
i = 0
while i<=10:
  print(i)
  i+=   # for printing the number from 0 to 10

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 0
while i<=10:
  print(i,end=",")   # we have "end " statement whith that we can specify how the output needs to end

  i+=1  # here it wii print in single line

0,1,2,3,4,5,6,7,8,9,10,

for loop

In [ ]:
for i in range(10):   # for loop is used 
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,21): #to print range of numbers
  print(i)

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(10,23):#we giving the range of i as in between 10 and 23, and the second number (23) is excluded
  print(i,end="  ") # we have "end " statement whith that we can specify how the output needs to end
                      # here it wii print in single line

10  11  12  13  14  15  16  17  18  19  20  21  22

In [ ]:
for i in range(10,24,2):# we are giving step size as 2. eg : (start,end,stepsize)
  print(i)  # now it will avoid the second number eg: 10,14,18..etc.

10
12
14
16
18
20
22

Functions in python

In [ ]:
def say_hello(name):   #def is used to define a function , here "say_hello "is the function name 
  print("Hello "+ name ) 

say_hello ("Akhil")

Hello Akhil

In [ ]:
def calculate(a,b): # calculate is the function name here 
  sum = a+b
  diff = a-b
  multi = a*b
  return(sum,diff,multi) # return or print multiple things using function


calculate(5,3)

(8, 2, 15)

In [ ]:
calculate(2,2)

4 0 4

Data structure

1.   List
2.   Tuples
3.   Dictionary
4.   Sets

**list** [ ]

1.   we can change the elements
2.   square bracket is used

In [ ]:
li = [4,6,2,9,8,7]  #example of a ist

In [ ]:
type(li)

list

In [ ]:
print(li[0]) #extracting the first element in the given list
print(li[5]) #extracting the 5 th element
print(li[0]) #extracting the zeroth element

4
7
4

In [ ]:
print(li[-1]) # accessing the element from thee negative direction
print(li[-2])

7
8

*list slicing*

1.   we can extract some elements from the list by providing the constrains

In [ ]:
# li[ start_index : end_index + 1  ]


li[0 : 3] # we giving the starting element number and end number which is excluded

[4, 6, 2]

In [ ]:
li[:] # No starting and end index so it will give all the elements

[4, 6, 2, 9, 8, 7]

In [ ]:
li[0]= 50 # we can change the element of the list

In [ ]:
li   # Here the first element has been changed

[50, 6, 2, 9, 8, 7]

In [ ]:
li2 = ["Hello",False,2.3,-1,[1,2,3,5]]   # list can contain heterogenous elements
li2

['Hello', False, 2.3, -1, [1, 2, 3, 5]]

Tuples 
 
1.   ( ) is used
2.   Read only limit
3.   Element is not changable
4.   we use Tuples to declare constants

In [ ]:
tup = (5,4,2,3,8) # creating a Tuple

In [ ]:
type(tup)

tuple

In [ ]:
tup[0]

5

In [ ]:
tup[4]

8

In [ ]:
len(tup) # len function gives the element number

5

In [ ]:
3,5     # it is also a Tuple

(3, 5)

Dictionary

In [ ]:
canteen_menu = {
    "samosa":10,
    "juice": 20,
    "pizza":50,
} 
canteen_menu["pizza"]

50

In [ ]:
canteen_menu['juice']

20

In [ ]:
type(canteen_menu)

dict

In [ ]:
canteen_menu["apple"] = 25 # Adding new element

In [ ]:
canteen_menu

{'apple': 25, 'juice': 20, 'pizza': 50, 'samosa': 10}